<section class="titlecont" @changeSection>
    <div class="container">
        <div class="title-container">
            <h2 class="title privacidad">Política de privacidad</h2>
        </div>
    </div>
</section>

<section class="seccion" @changeSection>
    <div class="container">
        <ol>
            <li>Este SITIO WEB no recopila datos personales. No se solicitan nombres, direcciones de correo electrónico, números de teléfono u otra información personal identificable.</li>
            <li>En caso de que el SITIO WEB llegara a solicitar cualquier tipo de información del usuario, esta quedará sujeta a lo estipulado en el aviso de privacidad vigente del BID, establecido en <a href="https://www.iadb.org/es/privacy-policy" target="_blank">https://www.iadb.org/es/privacy-policy</a>.</li>
            <li>La política de privacidad del SITIO WEB puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras prácticas de privacidad o por otras causas, por lo cual, se recomienda revisar periódicamente esta página para estar al tanto de cualquier cambio o actualización.</li>
        </ol>
    </div>
</section>