.links-container {
    h1{color: var(--comunicacion);}
    .ejes{
        .eje{
            a{
                &:hover{
                    span{
                        background-color: var(--comunicacion);
                    }
                }
            }
        }
    }
}

.contenedor{
    background-color: var(--blanco75);
    section {
        &.title {
            background-color: var(--comunicacion);
        }
        &.seccion{
            background-color: var(--blanco);
        }
        h2{
            .mat-icon {
                background-color: var(--comunicacion);
            }
        }
        h3 {
            .num {
                background-color: var(--comunicacion);
            }
        }
        color:var(--comunicacion);
        .tool{
            padding: 15px;
            border-radius: 15px;
            border: 1px solid;
            margin-bottom: 10px;
            small{
                display: block;
            }
            a{display: block;}
        }
        .expert,.institution{
            padding: 15px;
            border-radius: 15px;
            border: 1px solid;
            margin-bottom: 10px;
        }
    }
}
.submenu{
    li{
        span{
            color: var(--comunicacion);
            &:hover,&.active{
                background-color: var(--comunicacion);
            }
        }
    }
}
