<section id="video" *ngIf="Activeurl===''">
    <video class="bgr-video" role="presentation" crossorigin="anonymous" playsinline autoplay muted loop preload="auto" tabindex="-1" src="../../../assets/video/bgr_video_home.mp4">
    </video>
</section>
<section id="home" class="container" *ngIf="Activeurl===''" @changeSection>
    <div class="row">
        <div class="col col-md-6">
            <div class="bullet">
                <h1><span>INTELIGENCIA DE DATOS</span> para llevar a las pymes al siguiente nivel.</h1>
            </div>
        </div>
    </div>
</section>

<section class="titlecont" *ngIf="Activeurl!==''" @changeSection>
    <div class="container">
        <div class="title-container">
            <h2 class="title {{Activeurl}}">{{Subtitle}}</h2>
        </div>
    </div>
</section>

<section id="presentacion" *ngIf="Activeurl==='presentacion'" class="seccion bgr-blanco" @changeSection>
    <div class="container">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/3cA4V8HWemA?rel=0" title="Presentación" allowfullscreen></iframe>
        </div>
        <separator></separator>
        <div [innerHTML]="content"></div>
    </div>
</section>

<section id="bienvenida" *ngIf="Activeurl==='bienvenida'" class="seccion bgr-blanco" @changeSection>
    <div class="container">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/KqvDrAZSuek?rel=0" title="Bienvenida" allowfullscreen></iframe>
        </div>
        <separator></separator>
        <div [innerHTML]="content"></div>
    </div>
</section>

<section id="objetivos" *ngIf="Activeurl==='objetivos'" class="seccion bgr-blanco" @changeSection>
    <div class="container">
        <div [innerHTML]="content"></div>
    </div>
</section>
