<section id="video" *ngIf="Activeurl===''">
    <video class="bgr-video" autoplay loop muted >
        <source src="../../../assets/video/video_home.mp4" type="video/mp4" />
    </video>
</section>
<section id="home" *ngIf="Activeurl===''">
    <div class="row">
        <div class="col col-md-6 col-xl-4">
            <div class="logo-container" [ngStyle]="{'min-height': _globalService.ScreenHeight()}">
                <img src="../../../assets/images/Logo_EconomiadelDato.webp" class="img-fluid">
                <img src="../../../assets/images/Logo_Manual.webp" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<div class="container">
    <mat-card class="secc" *ngIf="Activeurl!==''">
        <div class="title-container">
            <div class="row">
                <div class="col col-md-6 col-xl-8 d-flex flex-column justify-content-end">
                    <h2 class="title {{Activeurl}}">{{Subtitle}}</h2>
                </div>
                <div class="col col-md-6 col-xl-4">
                    <img src="../../../assets/images/Logo_Manual.webp" class="img-fluid">
                </div>
            </div>
        </div>

        <section id="presentacion" *ngIf="Activeurl==='presentacion'" class="container seccion">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/3cA4V8HWemA?rel=0" title="Presentación" allowfullscreen></iframe>
            </div>
        </section>
        <section id="bienvenida" *ngIf="Activeurl==='bienvenida'" class="container seccion">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/KqvDrAZSuek?rel=0" title="Bienvenida" allowfullscreen></iframe>
            </div>
            <!-- <p>Nos complace darles la más cordial bienvenida a <strong>DataSmart: Inteligencia de datos para
                    pymes</strong>, una plataforma impulsada y auspiciada por el BID Lab y desarrollada por Cambiotec,
                A.C.</p>
            <p>Es un espacio diseñado especialmente para acompañarlos en el emocionante viaje de la transformación
                digital en el marco de la economía del dato justa e inclusiva.</p>
            <p>Vivimos inmersos en un contexto de constante cambio y los datos se han convertido en el activo más
                valioso; reconocemos el reto de las pymes para mantenerse competitivas y puedan responder con eficiencia
                y oportunidad a las necesidades de este mundo tan cambiante. La misión de esta plataforma es brindarles
                las herramientas necesarias para abrazar este nuevo reto y prosperar en la economía del dato.</p>
            <p>Nuestra plataforma no solo es un recurso didáctico, es un aliado estratégico para impulsar el crecimiento
                y la innovación de las pymes de América Latina y el Caribe.</p>
            <p>A través de una variedad de contenidos temáticos diseñados por expertos en tecnología y negocios pyme,
                tendrán a la mano una herramienta útil para adquirir y fortalecer habilidades esenciales encaminadas a
                aprovechar el máximo potencial de los datos.</p>
            <p>A medida que exploren nuestra plataforma, encontrarán recursos, herramientas interactivas, videos,
                infografías, libros electrónicos, ejemplos y casos de éxito que les inspirarán a innovar y crecer en un
                mundo cada vez más conectado.</p>
            <p>Estamos seguros de que su búsqueda de conocimiento y su disposición por transformarse siempre será la
                clave del éxito. Nos emociona contribuir al desarrollo y crecimiento de las pymes de la región y ver
                cómo las empresas prosperan y generan valor.</p>
            <p>Bienvenidos a esta plataforma de transformación digital y economía del dato diseñada de cara al futuro de
                los negocios en América Latina y el Caribe.</p> -->

        </section>
        <section id="objetivos" *ngIf="Activeurl==='objetivos'" class="container seccion">

            <p>Contribuir a la mejora de los procesos de gestión productiva del dato de las pymes de Colombia, El
                Salvador y Urubuay, a través del diseño y habilitación de una plataforma multimedia, de acceso libre,
                para la difusión, descripción temática, procesos y herramientas necesarios para aprovechar los datos con
                base en las dimensiones y ejes temáticos establecidos en la herramienta de autodiagnóstico Chequeo
                digital.</p>
            <h3>Objetivos particulares:</h3>
            <ul>
                <li>Propiciar procesos de reflexión interna encaminados a la transformación digital, a partir de la
                    explotación productiva y segura de los datos</li>
                <li>Contribuir al desarrollo de capacidades y competencias en el tema de explotación productiva del dato
                </li>
                <li>Complementar los esfuerzos formativos ofreciendo material de consulta, casos ilustrativos y
                    herramientas prácticas</li>
                <li>Habilitar un espacio virtual que permita el acceso a contenidos, herramientas, diagramas y
                    tutoriales, que contribuyan a la gestión productiva del dato</li>
                <li>Brindar elementos de análisis encaminados al diseño de estrategias de manejo de datos en las pymes
                </li>
            </ul>

        </section>
    </mat-card>
</div>