.navbar{
    background-color: var(--negro50);
    a{
        color:var(--blanco75);
    }
}
section{
    padding-top:3em;
    padding-bottom: 2em;;
}
.submenu{
    padding: 0;
    background-color: var(--organizacion);
    li{
        color: var(--blanco75);
        list-style: none;
        cursor: pointer;
        padding: 5px 10px;
        border-bottom: solid 1px var(--blanco50);
        &:hover{
            background-color: var(--organizacion);
            transform: scale(1.1);
            filter: saturate(2);
        }
        ul{padding:0}
    }
}