<section class="titlecont" @changeSection>
    <div class="container">
        <div class="title-container">
            <h2 class="title terminos">Términos y condiciones</h2>
        </div>
    </div>
</section>

<section class="seccion" @changeSection>
    <div class="container">
        <ol>
            <li>Los términos y condiciones generales aplicables al uso de del sitio <a
                    href="https://economiadeldato.cambiotec.org.mx/#/" target="_blank">https://economiadeldato.cambiotec.org.mx/#/</a>
                en adelante (“SITIO WEB"), se rige principalmente por los términos y condiciones del Banco
                Interamericano de Desarrollo ("BID") que a continuación se mencionan (los “Términos"). Al usar el SITIO
                WEB, usted acepta dichos Términos y las modificaciones eventuales que el BID o el SITIO WEB haga de
                ellos y se publiquen en el SITIO WEB. Ciertas características o funcionalidades del SITIO WEB, o
                vinculadas en el SITIO WEB, pueden estar sujetas a términos y condiciones adicionales o diferentes
                ("Sitios Asociados"). Los Sitios Asociados pueden estar o no bajo el control o la influencia del BID. El
                BID se exime de cualquier responsabilidad por el contenido o la operación de los Sitios Asociados que no
                son operados por el BID y enfatiza que los usuarios estarán sujetos a los términos y condiciones
                aplicables a dichos Sitios Asociados, sean o no operados por el BID.</li>
        </ol>
        <h3>Licencias</h3>
        <ol start="2">
            <li>El BID ha producido obras y datos que podrán ser encontrados en este SITIO WEB y/o en los Sitios
                Asociados (las “Obras”). Las Obras podrán estar sujetas a términos y condiciones de uso adicionales,
                incluyendo, sin limitación, los términos y condiciones asociados con materiales de terceras partes.</li>
        </ol>
        <ol start="3">
            <li>Para el resto de los materiales los usuarios pueden descargar, copiar y reimprimir dicha información del
                SITIO WEB para propósitos no comerciales, sujeto a cualesquier términos y condiciones que contengan los
                materiales expresamente atribuidos a terceras partes, siempre que se cite al BID como la fuente del
                material originario. Los usuarios no pueden reimprimir o distribuir material en el cual una tercera
                parte está identificada como el titular de los derechos de autor, a menos que el permiso para hacerlo se
                haya expresamente otorgado para dicho material de tercera parte. Los usuarios no podrán colocar "marcos"
                alrededor de los materiales u Obras provenientes del SITIO WEB sin la expresa autorización escrita del
                BID.</li>
        </ol>
        <ol start="4">
            <li>El contenido de los materiales expresamente atribuidos a o identificados como producidos por terceras
                partes son propiedad y responsabilidad de dichas terceras partes y no del BID. La utilización de esos
                documentos está sujeta a los términos y condiciones legales contenidos en dichos documentos, si los
                hubiera.</li>
        </ol>
        <ol start="5">
            <li>ElSITIO WEB puede contener enlaces, contenidos, servicios o funciones, de otros sitios de internet
                pertenecientes y/o gestionados por terceros, como por ejemplo imágenes, videos, comentarios, motores de
                búsqueda, etc. La utilización de estos enlaces, contenidos, servicios o funciones tiene por objeto
                mejorar la experiencia del usuario al hacer uso del SITIO WEB. El BID en ningún caso revisará o
                controlará el contenido de los sitios externos, de igual forma, no hace propios los productos,
                servicios, contenidos, y cualquier otro material existente en los referidos sitios enlazados; por lo
                cual, tampoco se garantizará la disponibilidad, exactitud, veracidad, validez o legalidad de los sitios
                externos a los que se pueda tener acceso a través del SITIO WEB. Así mismo, el BID no asume ninguna
                responsabilidad por los daños y perjuicios que pudieran producirse por el acceso o uso, de los
                contenidos, productos o servicios disponibles en los sitios web no gestionados por el BID a los que se
                pueda acceder mediante el SITIO WEB.</li>
        </ol>
        <h3>No Patrocinio y no Asociación</h3>
        <ol start="8">
            <li>Usted no puede declarar públicamente ni insinuar que el BID ha patrocinado la forma o el propósito de su
                uso o reproducción de las Obras y/o cualquier otro material, de este SITIO WEB y/o de los Sitios
                Asociados</li>
        </ol>
        <ol start="9">
            <li>Este SITIO WEB también contiene enlaces a otros sitios web e información que no están bajo el control
                del BID. El BID ofrece estos enlaces y cualquier otra información como una conveniencia para el usuario
                de su SITIO WEB y no es responsable por el contenido de los mismos. La presencia de un enlace no
                significa un patrocinio o aprobación de sus contenidos por parte del BID.</li>
        </ol>
        <ol start="10">
            <li>Las opiniones y conclusiones de los autores o compiladores contenidas en el SITIO WEB son exclusivamente
                de los autores y no reflejan necesariamente el punto de vista del BID, su Directorio Ejecutivo o sus
                países miembros.</li>
        </ol>
        <h3>Marcas del BID</h3>
        <ol start="11">
            <li>Usted no puede utilizar el nombre, acrónimo, emblema, logotipo o cualquier otra marca oficial del BID,
                sin el consentimiento previo por escrito del BID</li>
        </ol>
        <h3>Descargo de Garantía</h3>
        <ol start="12">
            <li>Toda la información en el SITIO WEB se proporciona “tal y como es”, sin garantía expresa o implícita de
                ningún tipo, lo que comprende, sin carácter limitativo, cualesquier garantías de comerciabilidad,
                adecuación, observancia de normas o requisitos o aplicabilidad para un fin determinado. El uso de este
                SITIO WEB es bajo riesgo único y exclusivo del usuario. El BID no garantiza en modo alguno la exactitud,
                plenitud u oportunidad del material publicado en el SITIO WEB y, bajo ninguna circunstancia, incluida,
                sin carácter limitativo, la de negligencia, será el BID responsable de ningún gasto o daño, directo,
                indirecto, accesorio, especial o por vía de consecuencia, en el que se incurra en virtud de su
                utilización, incluidos los gastos o daños que surjan de fallas de comunicación y/o fallas de
                funcionamiento de computadoras vinculados con la utilización del SITIO WEB. La información que se
                refiere a una fecha determinada se ofrece exclusivamente a esa fecha, y el BID no asume obligación
                alguna de actualizar ningún material en el SITIO WEB. El BID podrá, a su discreción, de manera periódica
                añadir, modificar, mejorar o actualizar cualquier información, sin dar aviso, en el SITIO WEB, y se
                reserva el derecho de limitar o suspender el SITIO WEB o negar, sin dar aviso, acceso al mismo a
                cualquier usuario.</li>
        </ol>
        <ol start="13">
            <li>Además, los mapas y cualquier otra información de naturaleza parecida que se encuentre en este SITIO WEB
                son sólo para fines de consulta, y pueden no haber sido preparados o ser adecuados para propósitos
                legales, de ingeniería, de encuesta o cualquier otra finalidad y/o uso específico. Si bien el BID
                procura proporcionar datos precisos, la información disponible en el SITIO WEB puede utilizar recursos
                de datos de otras fuentes, incluyendo fuentes públicas. Como tal, el BID no garantiza ni declara que
                cualquier información esté libre de errores, omisiones y/o imprecisiones posicionales. Las fronteras,
                colores, denominaciones, o cualquier otra información expuesta en cualquier mapa o de otro modo no
                pueden interpretarse como una opinión sobre el estado legal de ningún territorio, ni tampoco como
                aceptación de tales fronteras.</li>
        </ol>
        <h3>Indemnización</h3>
        <ol start="14">
            <li>Como condición de utilización del SITIO WEB, usted acepta indemnizar al BID de y contra todas y cada una
                de las acciones, reclamaciones, pérdidas, perjuicios, obligaciones y gastos (incluidos honorarios
                legales razonables) que surjan de su utilización del SITIO WEB, lo que comprende, sin limitación,
                cualesquiera reclamaciones en las que se aduzcan hechos que, de ser ciertos, constituirían un
                incumplimiento, por su parte, de estos Términos. Si usted no está satisfecho con cualquier material
                publicado en el SITIO WEB, o con los Términos del SITIO WEB, su único y exclusivo recurso es dejar de
                utilizar el SITIO WEB.</li>
        </ol>
        <h3>Valores</h3>
        <ol start="15">
            <li>Este SITIO WEB contiene materiales relacionados con los valores emitidos por el BID, los cuales se
                proporcionan únicamente para fines informativos. Dichos materiales no constituyen una oferta o
                invitación por parte del BID o en su nombre para vender o una solicitación de una oferta para comprar
                cualesquier valores emitidos por el BID. El BID no tiene la intención de solicitar y no está solicitando
                ninguna acción con respecto a sus valores a través de este SITIO WEB.</li>
        </ol>
        <ol start="16">
            <li>Nada de lo incluido en este SITIO WEB se considerará incorporado al Prospecto del Programa de Deuda
                Global del BID con fecha del 8 de enero de 2001, al Prospecto del Programa de Deuda Global del BID con
                fecha del 28 de julio de 2020 o a cualquier otro documento de oferta para los valores emitidos por el
                BID.</li>
        </ol>
        <ol start="17">
            <li>Todos los materiales aquí contenidos en relación con los valores emitidos por el BID deben leerse en
                conjunto con el documento de oferta o prospecto correspondiente y, cualquier suplemento aplicable, y con
                cualquier otro material que estos complementen o que se incorporen por referencia en ellos. Los valores
                emitidos por el BID mencionados aquí pueden no calificar para la venta en ciertas jurisdicciones o para
                ciertas personas y pueden estar sujetos a otras restricciones.</li>
        </ol>
        <ol start="18">
            <li>Nada en este SITIO WEB o cualquier material aquí contenido se interpretará, explícita o implícitamente,
                como una recomendación de inversión. El BID no está registrado bajo la Ley de Asesores de Inversión de
                los EE. UU., de 1940. En consecuencia, nada en este SITIO WEB o en cualquier material contenido en el
                mismo debe considerarse asesoramiento de inversión. Los inversionistas que consideren comprar valores
                emitidos por el BID deben consultar a sus propios asesores financieros, legales y tributarios para
                obtener información sobre dichos valores, los riesgos y otras consideraciones de inversión que surjan de
                una inversión en dichos valores, las herramientas apropiadas para analizar dicha inversión y la
                adecuación de dicha inversión en cada una de las circunstancias particulares de cada inversor.</li>
        </ol>
        <h3>Administración del SITIO WEB</h3>
        <ol start="20">
            <li>El SITIO WEB es controlado, operado y administrado por el BID desde sus oficinas en los Estados Unidos
                de América y todos los datos están almacenados en los Estados Unidos de América. El BID no hace ninguna
                declaración de que los materiales que se publican en el SITIO WEB sean apropiados o estén disponibles
                para su utilización fuera del territorio de los Estados Unidos de América. Se prohíbe el acceso a los
                materiales del SITIO WEB en cualquier lugar en el que ese contenido pueda ser ilegal. Si usted accede al
                SITIO WEB desde fuera del territorio de los Estados Unidos de América, usted asume la responsabilidad
                exclusiva en cuanto al cumplimiento de la legislación local.</li>
        </ol>
        <ol start="21">
            <li>Cualquier información enviada al BID estará sujeta a nuestro aviso de privacidad, establecido en
                https://www.iadb.org/es/privacy-policy. El Aviso de Privacidad se incorpora a estos Términos y está
                sujeto a cambios eventuales como se establece en el Aviso de Privacidad.</li>
        </ol>
        <h3>Ley Aplicable y Resolución de Controversias. Privilegios e Inmunidades</h3>
        <ol start="22">
            <li>Estos Términos (incluida esta cláusula 21), se regirán, interpretarán y harán cumplir de conformidad a
                las disposiciones de la legislación del Distrito de Columbia, Estados Unidos de América, excepto por las
                disposiciones en materia de conflicto de leyes. Cualquier disputa que surja de, o en relación con, estos
                Términos, el SITIO WEB y/o su uso del SITIO WEB que no pueda resolverse de manera amistosa entre las
                partes de dicha disputa será resuelta mediante arbitraje de acuerdo con las Reglas de Arbitraje
                Comercial de la Asociación Americana de Arbitraje, vigentes en ese momento, por árbitro único designado
                de acuerdo con esas reglas, sin perjuicio de que el BID se reserva el derecho de solicitar medidas
                cautelares temporales, preliminares y definitivas para hacer cumplir cualquiera de las disposiciones de
                estos Términos relacionadas con el uso de sus derechos de autor, marcas registradas, otros derechos de
                propiedad intelectual y seguridad de datos. El arbitraje se llevará a cabo en el Distrito de Columbia.
                Cualquier decisión arbitral resultante será final, definitiva y vinculante para ambas partes. La
                sentencia sobre cualquier laudo arbitral puede presentarse en cualquier tribunal que tenga jurisdicción
                sobre el mismo.</li>
        </ol>
        <ol start="23">
            <li>Carecerá de validez cualquier renuncia, por parte del BID, a cualquier disposición de estos Términos,
                salvo que se estipule por escrito y sea firmada por su representante debidamente autorizado.</li>
        </ol>
        <ol start="24">
            <li>Nada en estos Términos o en el contenido del SITIO WEB, constituirá o podrá considerarse una limitación,
                restricción o renuncia de cualesquier derechos, privilegios e inmunidades otorgados al BID o al personal
                del BID bajo cualquier tratado o ley local o internacional, que se reservan en forma específica.</li>
        </ol>
    </div>
</section>