<mat-drawer-container autosize hasBackdrop [ngStyle]="{'min-height': scrHeight}">
    <router-outlet></router-outlet>
    <button type="button" class="btntogglemenu" mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="text-white" *ngIf="drawer.opened">close</mat-icon>
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
    </button>
    <mat-drawer #drawer mode="side" position="end">
        <app-navigation (change)="drawer.toggle()"></app-navigation>
    </mat-drawer>
</mat-drawer-container>
<footer class="footer mt-auto py-0">
    <div class="container">
        <img src="../assets/images/logos_pie.webp" class="img-fluid">
    </div>
</footer>