<mat-drawer-container autosize hasBackdrop [ngStyle]="{'min-height': scrHeight}">
    <router-outlet></router-outlet>
    <button type="button" class="btntogglemenu" mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="text-white" *ngIf="drawer.opened">close</mat-icon>
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
    </button>
    <mat-drawer #drawer mode="side" position="end">
        <app-navigation (change)="drawer.toggle()"></app-navigation>
    </mat-drawer>
</mat-drawer-container>
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <span class="text-muted">Logotipos</span>
    </div>
</footer>