<section class="titlecont" @changeSection>
    <div class="container">
        <div class="title-container">
            <h2 class="title privacidad">Créditos</h2>
        </div>
    </div>
</section>

<section class="seccion" @changeSection>
    <div class="container">
        <div class="row">
            <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <img src="../assets/images/logos/logo_inteligencia_datos.webp" class="img-fluid" />
            </div>
        </div>
        <p class="py-5">Esta plataforma denominada BiblioSmart ha sido desarrollada por Cambiotec y se enmarca en el proyecto Economía del Dato para pymes de América Latina y el Caribe, forma parte de las acciones promovidas y auspiciadas por el Banco Interamericano de Desarrollo (BID) con el soporte de socios clave de Uruguay, El Salvador y Colombia.</p>
    </div>
    <div class="logos-container container-fluid">
        <a href="https://cambiotec.org.mx/" target="_blank" class="logo_cambiotec"><img src="../assets/images/logos/logo_cambiotec.webp" class="img" alt="Cambiotec" /></a>
        <a href="https://www.idom.com/" target="_blank" class="logo_idom"><img src="../assets/images/logos/logo_idom.webp" class="img" alt="IDOM" /></a>
        <a href="https://www.ccc.org.co/" target="_blank" class="logo_ccc"><img src="../assets/images/logos/logo_ccc.webp" class="img" alt="Cámara de Comercio de Cali" /></a>
        <a href="https://www.ande.org.uy/" target="_blank" class="logo_ande"><img src="../assets/images/logos/logo_ande.webp" class="img" alt="ANDE" /></a>
        <a href="https://snbx.sv/" target="_blank" class="logo_snbx"><img src="../assets/images/logos/logo_snbx.webp" class="img" alt="SNBX" /></a>
        <a href="https://bidlab.org/" target="_blank" class="logo_bid"><img src="../assets/images/logos/logo_bid.webp" class="img" alt="BID" /></a>
        <a href="https://www.iadb.org/" target="_blank" class="logo_bid_lab"><img src="../assets/images/logos/logo_bid_lab.webp" class="img" alt="BID LAB" /></a>
    </div>

    <div class="container creditos">
        <mat-card class="my-5 p-4 mat-elevation-z6">
            <h2>Créditos de la plataforma</h2>
            <h3>BID, BID LAB</h3>
            <p>Mara Balestrini</p>
            <p>Digital Transformation Lead Specialist</p>
            <p>Carmen Castro Blandon</p>
            <p>Oficial Discovery</p>
            <h3>Nuestros aliados:</h3>
            <h4>El Salvador</h4>
            <p>SNBX, Mariela Guzmán</p>
            <h4>Colombia</h4>
            <p>Cámara de Comercio de Cali, Jamil Eduardo Mafla García</p>
            <h4>Uruguay</h4>
            <p>Agencia Nacional de Desarrollo ANDE y Modo Digital, Laura Di Giovanni</p>
            <h4>IDOM</h4>
            <p>Diego Alejandro Rojas Bolaños</p>
            <h2>Desarrollo</h2>
            <h3>Cambiotec</h3>
            <h4>Coordinación general</h4>
            <p>José Luis Solleiro e Hilda María Colín García</p>
            <h4>Contenidos y materiales</h4>
            <p>Antonieta Martínez Velasco, Claudia Arias Portela, Jenyffer Abigail Azuara Iribe, José Luis Solleiro Rebolledo, Carlos Maynor Salinas Santano, Sandra B. Tapia Melgarejo, Hilda María Colín García y Edda Sandra Sánchez Valencia</p>
            <h4>Diseño web</h4>
            <p>Enrique Chacón Bolio</p>
            <h4>Diseño gráfico</h4>
            <h4>Coordinación</h4>
            <p>Norma Solís Mérida</p>
            <h4>Diseño gráfico</h4>
            <p>Mariana García Delgado, Mariana Itzel Barajas Tinoco y María Fernanda Gasca Alcántara</p>
            <h4>Producción audiovisual</h4>
            <p>Irving Madariaga Moncada</p>
            
            <h4 class="mt-5">Copyright©2024</h4>
            <p>Banco Interamericano de Desarrollo (BID).</p>
            <p>Esta plataforma se encuentra sujeta a la licencia Creative Commons CC BY 3.0/Reconocimiento.</p>
            <p>Nota: Los contenidos y opiniones plasmadas en la plataforma <a href="https://economiadeldato.cambiotec.org.mx/">economiadeldato.cambiotec.org.mx</a> están única y exclusivamente a cargo de los autores y no necesariamente reflejan el punto de vista del BID, de su directorio ejecutivo ni de las instituciones de los países que participan.</p>
        </mat-card>
        
    </div>

</section>