<div mat-dialog-title class="py-2 d-flex justify-content-between">
    <h3 class="m-0 w-100 d-flex text-start align-items-center">Cómo usar esta plataforma</h3>
    <button mat-icon-button color="primary" [mat-dialog-close]="" cdkFocusInitial>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content class="mb-5">
    <h2>Introducción</h2>
    <p>Bienvenidos a "Economía del Dato". Este tutorial te guiará a través de las características principales de esta plataforma y te mostrará cómo utilizar la aplicación de manera efectiva.</p>
    
    <img src="../../../assets/images/EstructuraPlataforma.webp" class="img-fluid" alt="Estructura de la plataforma" />
    
    <h3>1. Acceso a la Aplicación</h3>
    <ol>
        <li><strong>Abrir el Navegador</strong>: Abre tu navegador web preferido.</li>
        <li><strong>Ingresar la URL</strong>: Escribe <strong>https://economiadeldato.cambiotec.org.mx/</strong> en la barra de direcciones y presiona Enter.</li>
    </ol>
    <h3>2. Navegación Principal</h3>
    <p>En la página principal verás una barra de navegación en la parte superior. Esta barra contiene enlaces a las diferentes secciones de la aplicación.</p>
    <ul>
        <li><strong>Inicio:</strong> Te lleva a la página principal de la aplicación.</li>
        <li><strong>Presentación:</strong> En video y en texto encontrarás la presentación de <strong>BiblioSmart</strong>, una plataforma de apoyo a las pymes de América Latina y el Caribe, en el marco de las actividades de Cooperación Técnica “Economía del Dato justa e inclusiva en ALC”.</li>
        <li><strong>Bienvenida:</strong> Te proporciona un mensaje de bienvenida a la plataforma <strong>BiblioSmart</strong> y de invita a consultar esta herramienta de apoyo a las pymes.</li>
        <li><strong>Objetivos:</strong> Detalla los objetivos, general y específicos, que persigue la plataforma <strong>BiblioSmart</strong>.</li>
        <li><strong>BiblioSmart:</strong> Aquí encontrarás el acceso a la plataforma <strong>BiblioSmart</strong>, un repositorio de materiales y recursos organizados en seis dimensiones y sus correspondientes ejes temáticos.</li>
    </ul>
    <h3>3. Uso de <strong>BiblioSmart</strong></h3>
    <p>La plataforma <strong>BiblioSmart</strong> está organizada en seis dimensiones, mismas que a su vez, se dividen en ejes temáticos como se describe a continuación:</p>
    <ol class="dimensiones">
        <li class="dimension"><strong>Estrategia y transformación digital</strong>
            <ul>
                <li>Introducción a la transformación digital</li>
                <li>Planeación y estrategia digital</li>
                <li>Inteligencia de negocio</li>
                <li>Modelos de negocio</li>
                <li>Medios de pago digitales</li>
            </ul>
        </li>
        <li class="dimension"><strong>Datos y analítica</strong>
            <ul>
                <li>Analítica de datos</li>
                <li>Sistemas especializados</li>
                <li>Sistemas y herramientas de analítica</li>
                <li>Presentaciones para la toma de decisiones</li>
                <li>Modelos matemáticos</li>
            </ul>
        </li>
        <li class="dimension"><strong>Tecnologías y habilidades digitales</strong>
            <ul>
                <li>Infraestructura y ciberseguridad</li>
                <li>Competencias y habilidades digitales</li>
                <li>Tecnologías digitales y herramientas habilitadoras</li>
            </ul>
        </li>
        <li class="dimension"><strong>Comunicación y canales de venta</strong>
            <ul>
                <li>Canales digitales de comunicación</li>
                <li>Canales de venta</li>
                <li>Comercio electrónico</li>
                <li>Marketing digital</li>
                <li>Gestión de clientes</li>
                <li>Arquetipos de clientes</li>
            </ul>
        </li>
        <li class="dimension"><strong>Procesos</strong>
            <ul>
                <li>Desarrollo de ambientes digitales</li>
                <li>Logística</li>
                <li>Procesos de negocio</li>
            </ul>
        </li>
        <li class="dimension"><strong>Organización y personas</strong>
            <ul>
                <li>Cultura organizacional</li>
                <li>Gestión del talento humano en la era digital</li>
                <li>Indicadores y métricas en entornos digitales</li>
                <li>Estrategia de negocios en la era digital</li>
            </ul>
        </li>
    </ol>
    <h3>4. Ejes temáticos</h3>
    <p>Cada eje temático se organizó en nueve apartados diseñados así para facilitar su consulta y fácil manejo. A continuación, se describe el contenido de cada apartado:</p>
    <ul>
        <li>
            <strong>Introducción</strong><br/>
            A través de un video, se muestra un breve resumen del contenido y alcance del eje temático en cuestión.
        </li>
        <li>
            <strong>¿Qué es?</strong><br/>
            En este apartado se encuentra el detalle y desarrollo de los contenidos y materiales didácticos, diseñados para la comprensión del tema, empezando por la definición de cada eje.
        </li>
        <li>
            <strong>Beneficios</strong><br/>
            Por medio de infografías se sintetizan los beneficios potenciales que las pymes pueden obtener al emprender acciones relacionadas con cada eje temático.
        </li>
        <li>
            <strong>Proceso</strong><br/>
            De una forma gráfica e ilustrativa, se muestran los pasos que debe seguir una pyme para la implementación de lo señalado en el eje temático.
        </li>
        <li>
            <strong>Herramientas</strong><br/>
            Se detallan los recursos y materiales que auxilian en la comprensión del tema. Se conforma por una colección de recursos, videos y documentos útiles para fortalecer la comprensión temática y dar continuidad a lo aprendido.
        </li>
        <li>
            <strong>Glosario</strong><br/>
            Integra un listado de definiciones de conceptos básicos y términos relacionados con el tema.
        </li>
        <li>
            <strong>Directorio de expertos</strong><br/>
            Presenta un breve listado de nombres y direcciones web de especialistas por si requieres apoyo especial. Puedes encontrar la información de contacto de un especialista del eje temático en cuestión.
        </li>
        <li>
            <strong>Instituciones clave</strong><br/>
            Aquí encontrarás un directorio datos de las instituciones y asociaciones que te pueden orientar y apoyar al respecto del eje temático.
        </li>
        <li><strong>Literatura sugerida y sitios web</strong><br/>
            Contiene un listado de documentos y materiales de consulta con links que te llevarán a sitios y libros relacionados con el eje temático.
        </li>
    </ul>
    <h3>Conclusión</h3>
    <p>Esperamos que este tutorial te facilite y contribuya al uso y aprovechamiento de la plataforma <strong>BiblioSmart</strong> "Economía del Dato para pymes".</p>
    <p>Te invitamos a consultar y profundizar en las temáticas que presenta la plataforma <strong>BiblioSmart</strong>, un repositorio de materiales didácticos diseñados exclusivamente para pymes de ALC.</p>
</mat-dialog-content>
