.links-container {
    h1{color: var(--procesos);}
    .ejes{
        .eje{
            a{
                &:hover{
                    span{
                        background-color: var(--procesos);
                    }
                }
            }
        }
    }
}

.contenedor{
    background-color: var(--blanco75);
    section {
        &.title {
            background-color: var(--procesos);
        }
        &.seccion{
            background-color: var(--blanco);
        }
        h2{
            .mat-icon {
                background-color: var(--procesos);
            }
        }
        h3 {
            .num {
                background-color: var(--procesos);
            }
        }
        color:var(--procesos);
        .tool{
            padding: 15px;
            border-radius: 15px;
            border: 1px solid;
            margin-bottom: 10px;
            small{
                display: block;
            }
            a{display: block;}
        }
        .expert,.institution{
            padding: 15px;
            border-radius: 15px;
            border: 1px solid;
            margin-bottom: 10px;
        }
    }
}
.submenu{
    li{
        span{
            color: var(--procesos);
            &:hover,&.active{
                background-color: var(--procesos);
            }
        }
    }
}


.conceptoclave{
    border: 1px solid var(--negro25);
    padding: 30px;
    margin: 0 0 15px;
    border-radius: 15px;
    h6{font-weight: 900;}
    .ejemplo{
        font-size: 0.8rem;
        font-style: italic;
        line-height: 1.2rem;
    }
}