@use '@angular/material' as mat;

@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;600&display=swap');

$app-typography: mat.define-typography-config($font-family: 'Noto Sans');
$light-theme: mat.define-light-theme(
    (
        color:(
            primary: mat.define-palette(mat.$blue-grey-palette, 400, 600, 800),
            accent: mat.define-palette(mat.$amber-palette, 600),
            warn: mat.define-palette(mat.$red-palette, 700)
        ),
        typography: $app-typography
    )
);

// $dark-theme: mat.define-dark-theme(
//     (
//         color:(
//             primary: mat.define-palette(mat.$grey-palette, 700),
//             accent: mat.define-palette(mat.$orange-palette, 600),
//             warn: mat.define-palette(mat.$deep-orange-palette, 600)
//         ),
//         //typography: $app-typography
//     )
// );

@include mat.all-component-themes($light-theme);
// .dark-mode{
//    @include mat.all-component-themes($dark-theme);
// }



/* CSS */
:root {
    --accent: #ffb300;
    --primary: #78909c;
    --warn: #d32f2f;
    --dark-accent: #fb8c00;
    --dark-primary: #616161;
    --dark-warn: #f4511e;
    --blanco25: rgba(255, 255, 255, 0.25);
    --blanco50: rgba(255, 255, 255, 0.5);
    --blanco75: rgba(255, 255, 255, 0.75);
    --blanco90: rgba(255, 255, 255, 0.9);
    --blanco: #ffffff;
    --negro10: rgba(25, 28, 37, 0.05);
    --negro25: rgba(25, 28, 37, 0.25);
    --negro50: rgba(25, 28, 37, 0.5);
    --negro75: rgba(25, 28, 37, 0.75);

    --organizacion: #004d74;
    --estrategia: #0068b4;
    --datos: #003d63;
    --tecnologias: #00654f;
    --comunicacion: #009a7a;
    --procesos: #007190;
    --mdc-list-list-item-label-text-size: 14px;
    --mdc-table-text-size: 14px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    //background-color: var(--dark-primary);
    &.organizacion{background-color: var(--organizacion)}
    &.estrategia{background-color: var(--estrategia)}
    &.datos{background-color: var(--datos)}
    &.tecnologias{background-color: var(--tecnologias)}
    &.comunicacion{background-color: var(--comunicacion)}
    &.procesos{background-color: var(--procesos)}
}
app-root{display: flex;min-height: 100vh;flex-direction: column;font-family: 'Noto Sans', "Helvetica Neue", sans-serif;}
main {display:flex;flex-direction: column;flex: 1 0 auto;}
section{position:relative;}
header{z-index: 10;}
footer{padding-top:10px;box-shadow: 0 0 20px var(--negro50);position: relative;z-index:2;}
input:disabled, input:disabled~label, input:disabled~span, .mat-mdc-row.disabled, .mat-card.disabled, .fila.disabled, .disabled {filter: grayscale(1);opacity: 0.5;}
a,img,.mat-mdc-card,button,.mat-icon,.mat-mdc-icon, div, .mat-mdc-row, li, span, ::before{transition: all .25s ease-in-out !important;}

.seccion{padding-bottom: 20px;}
h1,h2,h3,h4{color: var(--primary);}
h1.title{
    padding-top: 1em;
    filter: opacity(0.5);
    font-weight: 300;
    font-size: 3em;
    text-align: end;
}
p{text-align: justify;}

.bgr-negro10{background-color: var(--negro10) !important;}
.bgr-negro25{background-color: var(--negro25) !important;}
.bgr-negro50{background-color: var(--negro50) !important;}
.bgr-negro75{background-color: var(--negro75) !important;}


.mat-mdc-card{padding: 15px;}
.mat-drawer-container{
    background-color: transparent;
    // background-color: var(--negro10);
    // background-image: url(assets/images/bgr_manual.webp);
    // background-size: cover;
    display: flex !important;
    flex-direction: column;
    .mat-drawer-content{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
}
.mat-drawer-inner-container {
    background-color: #005072;
    color:var(--blanco);
}

app-transformaciondigital{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}