<div class="logo">
    <img src="../../../assets/images/Logo_Manual_bco.webp" routerLink="/" class="img-fluid" (click)="menuToggle()" />
</div>

<div *ngFor="let item of menuItems">
    <a *ngIf="!item.Externo; else int" routerLink="{{item.Url}}" (click)="menuToggle()">
        <!-- <mat-icon>{{item.Icono}}</mat-icon> -->
        {{item.Nombre}}
    </a>
    <ng-template #int>
        <a (click)="goToUrl(item.Url)">
            <!-- <mat-icon>{{item.Icono}}</mat-icon> -->
            {{item.Nombre}}
        </a>
    </ng-template>    
</div>

